@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/images/bake-n-take.gif" width="100"/>
    <h1 class="display-3">Bake n' Take!</h1>
    <h1 class="lead">Any Pie is like Duck Tape, It fixes everything</h1>
</div>

<br />

<partial name="_Carousel" />

<br />

<div class="row text-center justify-content-center">
    <h1 class="display-3">Pies of the Week</h1>
    <h1 class="lead">Our weekly selection - just for you!</h1>

    @foreach (var pie in Model!.PiesOfTheWeek)
    {
        <partial name="_PieCard" model="pie" />
    }
</div>