@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<!-- 
    <a href="https://www.freepik.com/photos/fruit-cake">Fruit cake photo created by timolina - www.freepik.com</a>
    <a href='https://www.freepik.com/photos/thanksgiving-dinner'>Thanksgiving dinner photo created by freepik - www.freepik.com</a>
    <a href='https://www.freepik.com/photos/food'>Food photo created by wirestock - www.freepik.com</a>
    <a href='https://www.freepik.com/photos/cake-making'>Cake making photo created by rawpixel.com - www.freepik.com</a>
-->
