@model PiesListViewModel

@{
    ViewData["Title"] = "Pie List";
}

<h1>@Model!.CurrentCategory</h1>

<div class="row g-3 text-center justify-content-center">
    @foreach (var pie in Model!.Pies) 
    {
        <div class="card m-3 border-0" style="width: 18rem;">
            <img src="@pie.ImageThumbnail" class="card-img-top w-100" alt="@pie.Name" style="width: 100%; height:50%; object-fit:cover;">
            <div class="card-body">
                <h5 class="card-title">@pie.Name</h5>
                <p class="card-text">@pie.Price.ToString("c")</p>
                <a href="#" class="btn btn-primary">Add to Cart</a>
            </div>
        </div>
    }
</div>