@model IEnumerable<Category>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false" asp-controller="Pie" asp-action="Index">
        Pies
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var category in Model!)
        {
            <li>
                <a class="dropdown-item" asp-controller="Pie" asp-action="List" asp-route-category="@category.Name">@category.Name</a>
            </li>
        }
        <li><hr class="dropdown-divider"></li>
        <li>
            <a class="dropdown-item" asp-controller="Pie" asp-action="List" asp-route-category="">View All Pies</a>
        </li>
    </ul>
</li>