@model Pie

<div class="card m-3 border-0" style="width: 18rem;">
    <img src="@Model!.ImageThumbnail" class="card-img-top w-100" alt="@Model.Name" style="width: 100%; height:50%; object-fit:cover;">
    <div class="card-body">
        <h5 class="card-title"><a asp-controller="Pie" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a></h5>
        <p class="card-text">@Model.Price.ToString("c")</p>
        <a href="#" class="btn btn-primary">Add to Cart</a>
    </div>
</div>